In [1]:
# Import Dependencies
import numpy as np
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.feature_selection import SelectFromModel

## Promotion Dataset

Multiple attributes have been provided around Employee's past and current performance along with demographics.

Features:

- employee_id: Unique ID for employee
- department: Department of employee
- region: Region of employment (unordered)
- education: Education Level
- gender: Gender of Employee
- recruitment_channel: Channel of recruitment for employee
- no_ of_ trainings: no of other trainings completed in previous year on soft skills, technical skills etc.
- age: Age of Employee
- previous_ year_ rating: Employee Rating for the previous year
- length_ of_ service: Length of service in years
- awards_ won?: if awards won during previous year then 1 else 0
- avg_ training_ score: Average score in current training evaluations
- is_promoted: (Target) Recommended for promotion

In [4]:
# Read the csv file into a pandas DataFrame called `promotions_df`

### YOUR CODE HERE
promotions_df = pd.read_csv("../Resources/promotions.csv")
promotions_df.head()

,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,awards_won?,avg_training_score,is_promoted
0,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,0,49,0
1,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,60,0
2,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,50,0
3,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,50,0
4,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,73,0

In [5]:
# Create `X` and `y` datasets

### YOUR CODE HERE
X = promotions_df.drop('is_promoted', axis=1)
y = promotions_df['is_promoted']

In [ ]:
# Dummy encode the `X` data into numerical features

### YOUR CODE HERE

In [ ]:
# Divide the data into training and testing sets

### YOUR CODE HERE

In [ ]:
# Create a StandardScaler() model and fit it to the training data

### YOUR CODE HERE

In [ ]:
# Transform the training and testing data by using the scaler model

### YOUR CODE HERE

## Use Random Forest to predict promotions

In [ ]:
# Fit a Random Forest Classifier model with 500 trees and print training and testing scores

### YOUR CODE HERE

In [ ]:
# Calculate feature importance from the fitted random forest model

### YOUR CODE HERE

In [ ]:
# Visualize the feature importance 

### YOUR CODE HERE

In [ ]:
# Perofrm feature selection using sklearns SelectFromModel module

### YOUR CODE HERE

In [ ]:
# Use the `.transofrm()` function to transform the scaled `X_train` and `X_test` data 
# to return a new dataframe with only the features from the previous step

### YOUR CODE HERE

In [ ]:
# Fit a model and print training and testing scores with 500 trees

### YOUR CODE HERE

## Use K Nearest Neighbors to predict promotions

In [ ]:
# Fit a K Nearest Neighbors model and loop through different k values of 1 to 20 by 2
# to find which has the highest accuracy.
# Note: We use only odd numbers because we don't want any ties.

### YOUR CODE HERE

In [ ]:
# Plot the results of the train and test scores from the previous loop   

### YOUR CODE HERE

In [ ]:
# Select the `k` that provides the best accuracy where the classifier starts to stablize

### YOUR CODE HERE